components/__pycache__/scrollableLog.cpython-310.pyc
components/__pycache__/gridCities.cpython-310.pyc
test.csv
utils/__pycache__/AlbiPy.cpython-310.pyc
utils/__pycache__/AlbiPy.cpython-310.pyc
utils/__pycache__/invioDati.cpython-310.pyc
sample.json
utils/__pycache__/AlbiPy.cpython-310.pyc
utils/__pycache__/AlbiPy.cpython-310.pyc
components/__pycache__/table.cpython-310.pyc
utils/__pycache__/AlbiPy.cpython-310.pyc
